<html>
<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

<link rel='stylesheet' href='~/css/styles.css'>
</head>
<body>

<div class="container">
<div class="jumbotron">
<center><h1>To Do List</h1><center>
</div>



<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href='/categories/new'>Add a new category</a></li>
    <li class="breadcrumb-item"><a href='/categories'>View categories</a></li>
    <li class="breadcrumb-item"><a href='/search_by_category'>Search by category</a></li>

  </ol>
</nav>

<h3>My Categories List</h3>
<ul>
  @foreach ( var category in Model)
  {
      <p class="card-text"><a href='/categories/@category.GetId()'>@category.GetName()</a>                                                                                                    
        <a href='/categories/@category.GetId()'>@category.GetCountItems()</a></p>
  }
</ul>


</div>
</body>
</html>
