<html>

<body>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <div class="jumbotron">
    <center>
      <h1>Edit category</h1>
    </center>
  </div>






  <div class="card" style="width: 18rem;">
    <div class="card-body">

      <form action="/categories/@Model.GetId()/editedCategory" method="post">
        <label for="categoryName">Change name</label>
        <input id="categoryName" name="categoryName" type="text" value ="@Model.GetName()"> <button id="button" type="submit">Update</button><br>


      </form>

      <a class="card-link" href="/">Back home</a>
      <a class="card-link" href="/categories">Back to categories</a>

    </div>
  </div>


</body>

</html>
