<html>

<body>
  <h1>Enter author name</h1>

  <form action="/search_by_artist" method="post">
    <label for="artist">Author name</label>
    <input id="artist" name="artist" type="text">
    <button type="submit">Find</button>
  </form>

  <p><a href="/">Back home</a></p>
  <p><a href="/categories">Back to categories.</a></p>
</body>

</html>