<html>
<body>
<h1>Search word</h1>

<form action="/search_by_category" method="post">
  <label for="artist">Category name</label>
  <input id="artist" name="artist" type="text">
  <button type="submit">Find</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to categories.</a></p>
</body>
</html>
